[Unit]
Description=Datafeed for BNB from Binance
Requires=coc-ws-push.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/www/html/coc
User=www-data
ExecStart=php bnb_datafeed.php

[Install]
WantedBy=multi-user.target
