[Unit]
Description=Game week manager service
Requires=mariadb.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/www/html/coc
User=www-data
ExecStart=php manageGameWeeks.php

[Install]
WantedBy=multi-user.target
