[Unit]
Description=SportMonks matches update backend handler
Requires=mariadb.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/www/html/coc
User=www-data
ExecStart=php updateMatches.php

[Install]
WantedBy=multi-user.target
