[Unit]
Description=Websocket for auctions
Requires=coc-memcached.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/www/html/coc
ExecStart=bash start_auctions.sh

[Install]
WantedBy=multi-user.target
