[Unit]
Description=Update team players
Requires=mariadb.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/www/html/coc
User=www-data
ExecStart=php updateTeamPlayers.php

[Install]
WantedBy=multi-user.target
